<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2">
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <h2 class="mt-3">Create a new Listing</h2>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">please enter title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" type="text" required></textarea>
                <div class="invalid-feedback">please enter some description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name="listing[image]" type="file" class="form-control" required>
                </div>
                <div class="invalid-feedback">please enter valid link</div>
                <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="enter price" class="form-control" required>
                <div class="invalid-feedback">please enter price</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
                <div class="invalid-feedback">please enter location</div>
                </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required>
                <div class="invalid-feedback">please enter country</div>
                </div>
                <button class="btn btn-dark mb-3 add-btn">Add</button>
            </form>
        </div>
    </div>